---
layout: default
---

<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-description">{{ page.description }}</p>
  </header>

  <article>
    {{ content }}
  </article>

  <style>
    .midi-player, .midi-visualizer {
      background-color: #4d4;
      display: block;
      width: auto;
      height: auto;
    }
  </style>

  <!-- MIDI Player Integration -->
  <script src="https://cdn.jsdelivr.net/npm/tone@14.7.58"></script>
  <script src="https://cdn.jsdelivr.net/npm/@magenta/midi-player@1.5.0"></script>
  <script src="https://cdn.jsdelivr.net/npm/@magenta/music@1.23.1/es6/core.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/html-midi-player@1.5.0"></script>

  {% for i in (0..4) %}
<div class="experience-section">
  <h3>Experience {{ i | plus: 1 }}</h3> <!-- Use the 'plus' filter to add 1 -->
  <hr>
  <label for="attemptSelect{{ i }}">Select Attempt:</label>
  <select id="attemptSelect{{ i }}" onchange="updateMidiPlayers('{{ i }}')">
    <option selected disabled>Select</option> <!-- Default 'prompt' option -->
    {% for j in (1..page.num_attempts[i]) %}
    <option value="{{ j }}">Attempt {{ j }}</option>
    {% endfor %}
  </select>

  <div class="players">
    <midi-player id="midiPlayer{{ i }}Bongo" sound-font visualizer="#midiVisualizer{{ i }}Bongo"></midi-player>
    <midi-visualizer type="piano-roll" id="midiVisualizer{{ i }}Bongo"></midi-visualizer>
    <midi-player id="midiPlayer{{ i }}Drum_And_Bongo" sound-font visualizer="#midiVisualizer{{ i }}Drum_And_Bongo"></midi-player>
    <midi-visualizer type="piano-roll" id="midiVisualizer{{ i }}Drum_And_Bongo"></midi-visualizer>
  </div>
</div>
<br><br><br>
{% endfor %}


  <script>
    function updateMidiPlayers(experience) {
      var attemptIndex = document.getElementById('attemptSelect' + experience).value;
      var filePrefix = "{{ page.style }}/experience_" + experience + "/" + attemptIndex + "/";
      console.log(filePrefix);
      var players = ['Bongo', 'Drum_And_Bongo'];
      players.forEach(function(player) {
        var playerElement = document.getElementById('midiPlayer' + experience + player);
        var visualizerElement = document.getElementById('midiVisualizer' + experience + player);
        playerElement.src = "{{ site.baseurl }}/{{ page.root_dir }}/" + filePrefix + player.toLowerCase() + ".mid";
        // Reset visualizer to reload with new data
        visualizerElement.setAttribute('src', playerElement.src);
      });
    }

    window.onload = function() {
      {% for i in (0..4) %}
      updateMidiPlayers('{{ i }}');
      {% endfor %}
    };
  </script>
</div>
